{% load staticfiles %}
<!DOCTYPE HTML SYSTEM>
<html lang ="en">
<HEAD>
	<!-- Import JQuery Source -->
	<!-- <script src="http://code.jquery.com/jquery-latest.js"> </script>-->
	<script src="{{STATIC_URL}}js/jquery1_9_1min.js" type="text/javascript"></script>
	
	<!-- Link to css -->
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/new.css" >
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/btn.css" >

	
	<script src="{{STATIC_URL}}js/selection.js" type="text/javascript"></script>


</HEAD>
<body>
	<div id="pagewrap">
		<div id="header">
			<h2>Welcome to the conceptual clustering simulation tool</h2>
			<p>This tool allows the user to input objects with various attributes and values. The computer
			 will then categorize them and add them to a tree using a conceptual clustering algorithm. 
			 On this page, the user chooses what attributes each object will be categorized by (ex: 
			 size, shape, color...) and the corresponding values of that attribute the object can be 
			 (ex: blue, red, green for the color attribute).  The user can choose their own custom 
			 attributes or can select 'Use Default' to use the default attribute selection and values. 
			</p>
		</div>
		<div id="content">
			<div class="contentBar">Attribute: 
				<input id="attInput"type="text" name="attribute" placeholder="words only, no numbers or special characters" onkeydown="if (event.keyCode == 13) document.getElementById('addAttribute').click()">
					<div class="button" id="addAttribute" onclick="newAttribute()">Add Attribute
				</div>
				<div id="inputMessage">
					<p>Input must be of the form:<br>
						word  or  word1 word2  or  word1 word2 word3<br>
						where word where is any sequence of characters a through z. No number or special characters are accepted.
					</p>
				</div>
			</div>

			<div id="attributes">
				<div id="inputExplanation">Short explanation about the input</div>
				<div id="textFileInput">
					<textarea id="attrFile" placeholder="Inputs for attributes and attribute values should be words only. A pond sign is used to end.
										FirstAttribute,SecondAttribute,ThirdAttribute#
									        FirstAttributeValueForFirstAttribute,SecondAttributeValueForFirstAttribute#
										FirstAttributeValueForSecondAttribute,SecondAttributeValutForSecondAttribute#
                                                                                FirstAttributeValueForThirdAttribute,SecondAttributeValutForThirdAttribute#"></textarea>
					<div class="button" id="load">Load Attributes
				</div>
				</div>
			</div>
		
			<div class="contentBar">
				<div class="button" id="default" onclick="useDefault()">Use Default</div>
				<div class="button" style="float: right;" id="next" onclick="next()">Next</div>
			</div>
	    </div>
	    <div id="footer">
			<p>This material is based upon work supported by the National Science Foundation under Course, Curriculum, and Laboratory Improvement (CCLI) Grant No. 0942454.  Any opinions, findings and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.</p>
		</div>
	</div>
	<script>
	    function parseFile(text) {
	    	var attributesAndValues = text.split("#");
	    	var attributes = attributesAndValues[0].split(",");
	    	for(i = 0; i < attributes.length; i++){
	    		newAttribute(attributes[i]);
	    		var values = attributesAndValues[i+1].split(",");
	    	    for(e = 0; e < values.length; e++){
	    	    	newAttributeValue(attributes[i],values[e].replace(/\n|\r/g, ""));
	    	    }
	    		console.log(values);
	    	}
	    	console.log(attributes);
		}
		$('#attrFile').on('focus', function () {
		    $(this).parent().addClass('active');
		    $("#load").addClass('active');
		});
		$('#attrFile').on('blur', function () {
		    $(this).parent().removeClass('active');
		    $("#load").removeClass('active');
		});
		$("#load").on("click", function(event){
        	parseFile($("#attrFile").val()); 
        	$("#attrFile").val("");      	
    	});
    </script>
</body>

</html>
