{% extends "TAILSbase.html" %}
{% load staticfiles %} 

{% block title %}Register{% endblock %}

{% block content %}
<div class="jumbotron">
      <div class="container">
			<h1>New User</h1>
			<h2>
				<form action="" method="post"> 
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value="Create the account">
				</form>
			
			<p>Already have an account?</p>
				<ul class="nav nav-pills ">
				<li class="active"><a href="http://127.0.0.1:8000/accounts/login">Log In</a></li>
			</h2>
		</div>
</div> 
  
{% endblock %}